$white: #FFFFFF;
$black: #000000;
$light-grey: #D7D5EB;
$grey: #8A87AA;

$dark-violet: #2C1746;
$darker-violet: #180828;
$darkest-violet: #0F021B;
$opaque-violet: #694A81;
$shocking-pink: #FD58FF;
$bright-red: #E71B32;
$bright-green: #00FF85;
$bright-yellow: #FAF408;

$emerald-green: #00CC69;
$imperial-red: #FB3640;