@use '_colors.scss';
@use '_fonts.scss';
@use '_utils.scss';
@use '_slider.scss';

body {
    background-color: colors.$darkest-violet;
    color: colors.$white;
    font-family: fonts.$main-font;
}

// TODO: renomear 
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    padding: 1.5em;
}

.container {
    width: 100%;
    max-width: 1089px;
    margin: auto;
}

// TODO: modificar pelo media query
.password-container {

}

.password {
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: grid;
}

// svg sizes
$small: 2em;
$medium: 3em;
$large: 4em;

.svg-medium {
    height: $small;
    width: $small;
}

// Media Queries


// Small devices (landscape phones, 576px and up)
@media screen and (min-width:576px) {
    .password-container {}

    .password {
        display: flex;
        flex-direction: row;
    }

    .svg-size {
        height: $small;
        width: $small;
    }
    
}

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {}

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {}

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {}